<div class="bg-white border-1 surface-border w-full px-5 py-2 flex">
  <div class="flex-grow-1">
    <img src="assets/images/iso-logotype.png" class="h-4rem" alt="COGLI" />
  </div>

  <div class="flex-grow-1 flex align-items-center">
    <div
      class="surface-hover border-round-lg p-3 flex align-items-center w-full"
    >
      <i class="pi pi-search"></i>
      <span class="flex-1 text-center text-lg"> Search... </span>
      <i class="pi pi-filter border-left-1 pl-3"></i>
    </div>
  </div>

  <div class="flex-grow-1 justify-content-end align-items-center flex">
    <p-button
      icon="uil uil-bookmark"
      (onClick)="clickedBookmark()"
      styleClass="p-button-lg border-round-lg p-button-warning"
    ></p-button>

    <!-- <p-avatar
      image="https://www.iconspng.com/images/linux-avatar/linux-avatar.jpg"
      styleClass="ml-4"
      size="xlarge"
      shape="circle"
    ></p-avatar> -->
  </div>
</div>
