<div class="h-full bg-red-500 relative">
  <google-map [options]="options" width="100%" height="100%"> </google-map>
  <div
    class="absolute left-50 p-4 surface-900 border-round-3xl flex"
    style="transform: translateX(-50%); bottom: 20%"
  >
    <p-toggleButton
      [(ngModel)]="totalCases"
      onLabel="Total cases"
      offLabel="Total cases"
      (onChange)="showTotalCases($event.checked)"
    ></p-toggleButton>

    <p-toggleButton
      [(ngModel)]="deaths"
      onLabel="Total deaths"
      offLabel="Total cases"
      (onChange)="showDeaths($event.checked)"
    ></p-toggleButton>

    <p-toggleButton
      [(ngModel)]="vaccinations"
      onLabel="Total vaccinations"
      offLabel="Total vaccinations"
      (onChange)="showVaccinations($event.checked)"
    ></p-toggleButton>

    <p-toggleButton
      [(ngModel)]="population"
      onLabel="Total population"
      offLabel="Total population"
      (onChange)="showPopulation($event.checked)"
    ></p-toggleButton>
  </div>
</div>

<!-- totalCases = false;
  deaths = false;
  vaccinations = false;
  population = false; -->
