<div class="card">
    <div class="flex align-self-end md:justify-content-between surface-900 text-white justify-content-center card-container">
        <div class=" text-white font-bold border-round m-2 flex align-items-center justify-content-center">
            <p-image src="assets/images/Rookie.png" alt="Image" width="50" ></p-image></div>
        <div class=" text-white font-bold border-round m-2 flex align-items-center justify-content-center" style="min-width: 200px; min-height: 100px"><a href="https://trialsearch.who.int" style="text-decoration: none;  color: inherit;">ICTRP Search Portal</a></div>
        <div class=" font-bold border-round m-2 flex align-items-center justify-content-center"  style="min-width: 200px; min-height: 100px"><a href="https://github.com/owid/covid-19-data/tree/master/public/data/" style="text-decoration: none;  color: inherit;">Data on COVID-19 by Our World in Data</a></div>
        <div class="border-round m-2 flex align-items-center justify-content-center" style="min-width: 200px; min-height: 100px">
        <p-image src="assets/images/Talent.png" alt="Image" width="250"></p-image></div>
        <div class=" border-round m-2 flex align-items-center justify-content-center">
        <p-image src="assets/images/Astra.png" alt="Image" width="250"></p-image>
    </div>
</div>