<div class="h-screen w-screen flex flex-column">
  <app-navbar (onBookmarkOpen)="toggleBookmarks()"> </app-navbar>
  <div id="homeContent" class="w-full bg-green-500 flex-grow-1">
    <div class="main-container h-full w-full">
      <app-world-map-section
        class="section h-full block"
      ></app-world-map-section>

      <app-researches-section
        class="section"
        [style]="{ marginTop: '-10rem' }"
      ></app-researches-section>

      <app-news-section class="section"></app-news-section>
    </div>
  </div>
  <app-researches-list [isVisible]="showResearches"></app-researches-list>
  <app-bookmark-panel [isVisible]="showBookmarks"></app-bookmark-panel>
</div>
