<h1>Create Bookmark</h1>
<form (ngSubmit)="onSubmit()" #bookmarkForm="ngForm">
  <span class="p-float-label">
    <input
      id="name-input"
      type="text"
      pInputText
      [(ngModel)]="bookmark.name"
      name="name"
      required
      maxlength="32"
      #namevar="ngModel"
    />
    <label for="name-input">Name</label>
  </span>
  Choose a color for your bookmark: 
  <p-colorPicker [(ngModel)]="bookmark.color" name="color"></p-colorPicker>
  <br />
  <p-button
    type="submit"
    label="Submit"
    [disabled]="!bookmarkForm.form.valid"
  ></p-button>
  </form>
